<div class="container">
    <div class="row p-1 m-1 center games-body">

        <div class="col-2 d-flex flex-column center">
            <!-- Dropdown Menu to add review -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-file-plus"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                            data-bs-target="#formModal">Add Review</button></li>

                </ul>
            </div>
        </div>
        {{!-- Games main body --}}
        <div class="col-10 d-flex flex-wrap justify-content-evenly center">
            {{!-- each game card --}}
            {{#each games as |game|}}
            <div class="card text-white bg-custom-2 m-3 text-center border border-secondary border-1"
                style="width: 18rem;">
                <div class="mx-auto">
                    <a href="/games/{{game.id}}">
                        <img class="img-thumbnail my-2 mx-auto" style="width: 250px; height: 250px; object-fit: cover;"
                            src="{{game.game_image}}">
                    </a>
                </div>
                <div class="card-body mx-auto">
                    <h3 class="card-title games-title">{{game.game_name}}</h3>
                    <h6 class="text-start">{{game.short_description}}</h6>
                    <p><span class="text-warning">Average Rating: {{game.averageReview}}</span><br> Reviews:
                        {{game.totalReviews}}</p>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>
{{>review-modal}}