<div class="container">
    <div class="row p-1 m-1 games-body">

            <div class="col-2 d-flex flex-column">
                <!-- Dropdown Menu to add review -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-file-plus"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                                data-bs-target="#formModal">Add Review</button></li>
                        <li><button class="dropdown-item" type="button">Add to My Games</button></li>
                        <li><button class="dropdown-item" type="button">Add to Wishlist</button></li>
                    </ul>
                </div>
            </div>
            <div class="col-10 d-flex flex-wrap justify-content-evenly">
                
                {{#each games as |game|}}
                <div class="card text-white bg-secondary m-3" style="width: 18rem;">
                    <div class="mx-auto">
                        <a href="/games/{{game.id}}">
                            <img class="img-thumbnail my-2 mx-auto" style="width: 250px; height: 250px; object-fit: cover;" src="{{game.game_image}}">
                        </a>
                    </div>
                    <div class="card-body mx-auto">
                        <h3 class="card-title">{{game.game_name}}</h3>
                        <h6>{{game.short_description}}</h6>
                        <p>Average Rating: {{game.averageReview}}<br> Reviews: {{game.totalReviews}}</p>
                    </div>
                </div>
                {{/each}}
                
            </div>
        </div>
        <div class="col-8">
            <div>Game cards go here</div>
        </div>
    </div>
</div>
{{>review-modal}}