<div class="container">
    <div class="row p-1 m-1 justify-content-around">

            <div class="col-2 d-flex flex-column">
                <!-- Dropdown Menu to add review -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-file-plus"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                                data-bs-target="#formModal">Add Review</button></li>
                        <li><button class="dropdown-item" type="button">Add to My Games</button></li>
                        <li><button class="dropdown-item" type="button">Add to Wishlist</button></li>
                    </ul>
                </div>
            </div>
            <div class="col-10 d-flex flex-wrap justify-content-evenly">
                
                {{#each games as |game|}}
                <div class="card text-white bg-secondary m-3" style="width: 18rem;">
                    <div class="mx-auto">
                        <a href="/games/{{game.id}}">
                            <img class="img-thumbnail my-2 mx-auto" style="width: 250px; height: 250px; object-fit: cover;" src="{{game.game_image}}">
                        </a>
                    </div>
                    <div class="card-body mx-auto">
                        <h3 class="card-title">{{game.game_name}}</h3>
                        <h6>{{game.short_description}}</h6>
                        <p>Average Rating: {{game.averageReview}}<br> Reviews: {{game.totalReviews}}</p>
                    </div>
                </div>
                {{/each}}
                
            </div>
        </div>
        <div class="col-8">
            <div>Game cards go here</div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content form-group">
            <div class="modal-header">
                <h3 class="modal-title" id="formModalLabel">Add New Review</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body form-group">
                <label for="exampleGameDataList" class="form-label">Title of Game</label>
                <input class="form-control" list="GameListOptions" id="exampleGameDataList"
                    placeholder="Type to search...">
                <datalist id="GameListOptions">
                     {{#each games as |game|}}
                    <option value="{{game.game_name}}" id="{{game.id}}"></option>
                    {{/each}}                    
                </datalist>
            </div>
            <div class="modal-body form-group">
                <label for="platformDataList" class="form-label">Game Platform</label>
                <input class="form-control" list="platformOptions" id="platformDataList" placeholder="Example: Xbox">
                <datalist id="platformOptions">
                    <option value="Playstation">
                    <option value="Xbox">
                    <option value="Nintendo Switch">
                    <option value="PC">
                    <option value="Mobile">
                </datalist>
            </div class="rating form-group">
            <p class="form-label p-3">Rating</p>
            <div class="rating-radio">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                    <label class="form-check-label" for="inlineRadio1">1</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2">
                    <label class="form-check-label" for="inlineRadio2">2</label>
                </div>
                <div class="modal-body form-group">
                    <label for="exampleGameDataList" class="form-label">Title of Game</label>
                    <input class="form-control" list="GameListOptions" id="exampleGameDataList"
                        placeholder="Type to search...">
                    <datalist id="GameListOptions">
                        {{#each games as |game|}}
                        <option value="{{game.game_name}}" id="{{game.id}}"></option>
                        {{/each}}
                    </datalist>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4">
                    <label class="form-check-label" for="inlineRadio4">4</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5">
                    <label class="form-check-label" for="inlineRadio5">5</label>
                </div>
            </div>
            <div class="form-group textarea rounded">
                <label for="review-textarea" class="form-label">Written Review</label>
                <textarea type="text" class="form-control" id="review-textarea" rows="4"
                    placeholder="What did you like or dislike about the game? Would you recommend this game?"></textarea>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-info">Save changes</button>
        </div>
    </div>
</div>
</div>