{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div> --}}

<div class="row p-1 m-1 section col-lg">
  <aside class="d-flex flex-column col-lg-3">
    <h2 style="text-align: center;">{{name}}</h2>
    <a class="btn btn-secondary btn-lg profile-btn" href="#myGames" type="button">My Games</a>
    <a class="btn btn-secondary btn-lg" href="#wishlist" type="button">Wishlist</a>
    <a class="btn btn-secondary btn-lg" href="#gameReviews" type="button">My Reviews</a>
  </aside>

  <main class="col-lg">
    {{!-- User Game carousel --}}
    <div id="carousel-home" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-home" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel-home" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel-home" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg"
            class="d-block w-50 center rounded-3" alt="...">
          <div class="carousel-caption d-none d-md-block bg-custom">
            <h5>Grand Theft Auto V</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://media.rawg.io/media/games/618/618c2031a07bbff6b4f611f10b6bcdbc.jpg"
            class="d-block w-50 center rounded-3" alt="...">
          <div class="carousel-caption d-none d-md-block bg-custom">
            <h5>The Witcher 3: Wild Hunt</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://media.rawg.io/media/games/588/588c6bdff3d4baf66ec36b1c05b793bf.jpg"
            class="d-block w-50 center rounded-3" alt="...">
          <div class="carousel-caption d-none d-md-block bg-custom">
            <h5>Borderlands 2</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-home" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-home" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="row">
      {{!-- My Games --}}
      <h2 id="myGames" class="text-center game-title">My Games</h2>
      {{!-- loop my games here --}}
      <div class="d-flex flex-wrap justify-content-evenly center">
        {{#each user.games as |game|}}
        <div class="card text-white bg-custom-2 m-3 text-center border border-secondary border-1" style="width: 18rem;">
          <div class="mx-auto">
              <a href="/game/{{game.id}}">
                  <img class="img-thumbnail my-2 mx-auto" style="width: 250px; height: 250px; object-fit: cover;"
                      src="{{game.game_image}}">
              </a>
          </div>
          <div class="card-body mx-auto">
            <h3 class="card-title games-title">{{game.game_name}}</h3>
            <h6>{{game.short_description}}</h6>
                {{!-- <p><span class="text-warning">Average Rating: </span><br> Reviews:
                    (total count)</p> --}}
            
          </div>
        </div>
        {{/each}}
      </div>
      {{!-- Wishlist accordian --}}
      <h2 class="text-center game-title">Wishlist</h2>
      <div class="d-flex flex-wrap justify-content-evenly center">
        {{#each user.wishlists as |wishlist|}}
        <div class="card text-white bg-custom-2 m-3 text-center border border-secondary border-1" style="width: 18rem;">
          <div class="mx-auto">
              <a href="/game/{{wishlist.game.id}}">
                  <img class="img-thumbnail my-2 mx-auto" style="width: 250px; height: 250px; object-fit: cover;"
                      src="{{wishlist.game.game_image}}">
              </a>
          </div>
          <div class="card-body mx-auto">
            <h3 class="card-title games-title">{{wishlist.game.game_name}}</h3>
            <h6>{{wishlist.game.short_description}}</h6>
                {{!-- <p><span class="text-warning">Average Rating: </span><br> Reviews:
                    (total count)</p> --}}
            
          </div>
        </div>
        {{/each}}
      <div id="wishlist">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          {{!-- each accordian item to be looped in = games added to wishlist --}}
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed bg-custom-2 text-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Game title
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample">
              <div class="accordion-body bg-dark">
                <p>short game discription</p>
                <p>platforms</p>
                <p>average rating: <br>Reviews (total count)</p>
                <a>Link to game/:id</a>
              </div>
            </div>
          </div>
          {{!--end of each individual accordian item  --}}
          </div>
        </div>
      </div>
      {{!-- end of Wishlist accordian --}}
      {{!-- My Games --}}
      <h2  id= "gameReviews"class="text-center game-title">My Reviews</h2>
      <div class="d-flex flex-wrap justify-content-evenly center">
        {{#each user.reviews as |review|}}
          
            <div class="card text-white bg-custom-2 m-3 border border-secondary border-1"
                style="width: 18rem;">
                <div class="card-body mx-auto">
                    <a href="/games/{{review.game_id}}"><h3 class="card-title games-title">{{review.game.game_name}}</h3></a>
                    <p class="text-warning">Rating: {{review.rating}}</p>
                    <p class="text-start m-1">{{review.review_text}}</p>                    
                </div>
            </div>
           
            {{/each}}
      </div>
    </div>
  </main>
</div>
