<div class="container ">
    <div class="row p-1 m-1 flex-wrap games-body col-lg">
        <div class="col-2 d-flex add-review-menu">
            <!-- Dropdown Menu to add review -->
            <div class="dropdown add-review-button ">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-file-plus"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                            data-bs-target="#formModal">Add Review</button></li>
                    <li><button class="dropdown-item" id="add-to-library" type="button" data-id="{{games.id}}">Add to My
                            Games</button></li>
                    <li><button class="dropdown-item" id="add-to-wishlist" type="button">Add to Wishlist</button></li>
                </ul>
            </div>
        </div>
        {{!-- Single game body --}}
        <div class="col-lg flex-wrap single-game-body center">
            <div class=" flex-column">
                {{!-- Single game title --}}
                <div class="m-1">
                    <h1 class="game-title">{{games.game_name}}</h1>
                </div>
                {{!-- Single game image banner --}}
                <div class="game-banner">
                    <img src="{{games.game_image}}" alt="stock image of {{games.game_name}}"
                        class="d-block w-100 center border border-5 border-secondary">
                </div>
                <div class="row flex-wrap single-game-sub-body">
                    {{!-- Single game information --}}
                    <div class="col border border-secondary m-1 rounded border-2">
                        <h3 class="text-start m-1">Game info</h3>
                        <p class="m-1"><b>Release date: </b>{{format_date games.release_date}}</p>
                        <p class="m-1"><b>Platform(s): </b>
                            {{#if platforms.length}}
                                <ul>
                                {{#each platforms as |platform|}}
                                    <li>{{platform}}</li>
                                {{/each}}
                            {{else}} 
                                None.
                            {{/if}}
                        </ul></p>
                        <p class="m-1"><b>Game description: </b>{{games.game_summary}}</p>
                    </div>
                    {{!-- Single game reviews --}}
                    <div class="col game-reviews border border-secondary border-2 ms-auto m-1 rounded d-flex flex-column">
                        <h3 class="text-start m-1">Reviews ({{games.totalReviews}})</h3>
                        <h5 class="text-warning m-1"> Average Rating: {{games.averageReview }}</h5>
                        {{!-- test review --}}
                        {{#each games.reviews as |review|}}
                        <div class=" bg-custom-2 border border-secondary border-1 m-1">
                            <div class="m-1">{{review.review_text}} -- {{review.user.name}} -- {{format_date review.date_created}}
                            <br> Platform: {{review.platform}}
                            <br> Rating: {{review.rating}}</div>
                        </div>
                        {{/each}}
                        
                    </div>
                    {{!-- end of reviews --}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{{>review-modal}}
<script src="../js/add-library.js"></script>