<div class="container ">
    <div class="row p-1 m-1 flex-wrap games-body">
        <div class="col-4 d-flex add-review-menu">
            <!-- Dropdown Menu to add review -->
            <div class="dropdown add-review-button ">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-file-plus"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><button class="dropdown-item" type="button" data-bs-toggle="modal"
                            data-bs-target="#formModal">Add Review</button></li>
                    <li><button class="dropdown-item" id="add-to-library" type="button" data-id="{{games.id}}">Add to My
                            Games</button></li>
                    <li><button class="dropdown-item" type="button">Add to Wishlist</button></li>
                </ul>
            </div>
        </div>
        <div class="col-8 flex-wrap single-game-body">
            <div class="d-flex flex-column">
                <div>
                    <h1 class="game-title">{{games.game_name}}</h1>
                </div>
                <div class="game-banner">
                    <img src="{{games.game_image}}" alt=" "
                        class="d-block w-100 center border border-5 border-secondary">
                </div>
                <div class="row flex-wrap single-game-sub-body">
                    <div class="col border border-secondary m-1 rounded border-2">
                        <p><b>Game genre: </b>genre goes here</p>
                        <p><b>Release date: </b>{{format_date games.release_date}}</p>
                        <p><b>Platform(s): </b>add list of platforms here</p>
                        <p><b>Game description: </b>{{games.game_summary}}</p>
                    </div>
                    {{!-- Review Div --}}
                    <div class="col game-reviews border border-secondary border-2 ms-auto m-1 rounded d-flex flex-column">
                        <h3>{{games.totalReviews}} Reviews</h3>
                        {{!-- test review --}}
                        {{!-- {{#each games as |review|}}
                        <div class="border border-secondary border-1 m-1">
                            <div>"{{review.review_text}}"</div>
                        </div>
                        {{#each}} --}}
                        {{!-- test review --}}
                        <div class="border border-secondary border-1 m-1">
                            <div>2nd review text</div>
                        </div>
                         <div class="border border-secondary border-1 m-1">
                            <div>Third Review test div</div> 
                        </div>
                    </div>
                    {{!-- end of review div --}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
{{>review-modal}}
<script src="../js/add-library.js"></script>